<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Opciones</h5>
      <span class="text-muted"><button type="button" [routerLink]="['/registro']" [routerLinkActive]="['active']" class="btn btn-outline-warning">Registrate</button></span>&nbsp;
      <span class="text-muted"><button type="button" [routerLink]="['/login']" [routerLinkActive]="['active']" class="btn btn-outline-warning">LogIn</button></span>&nbsp;
      <span class="text-muted"><button type="button" [routerLink]="['/contacts']" [routerLinkActive]="['active']" class="btn btn-outline-warning">Contactos</button></span>&nbsp;
      <span class="text-muted"><button type="button" [routerLink]="['/tasks']" [routerLinkActive]="['active']" class="btn btn-outline-warning">Tareas</button></span>&nbsp;
      <span class="text-muted"><button type="button" [routerLink]="['/profile']" [routerLinkActive]="['active']" class="btn btn-outline-warning">Perfil</button></span>&nbsp;
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <h4>Agenda</h4>
    </a>
  </nav>
</div>