<hr>
<div class="container">
  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Y, ¿Para qué una agenda?
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <p>Eficiencia en la organización y la planificación.</p>
      <p>Memoria infalible.</p>
      <p>Ahorro de tiempo y energía.</p>
      <p>Mayor organización de tiempo.</p>
    </div>
  </div>
</div>
